footer {
    padding-top: 20px;
    padding-bottom: 1px;
  }
  
  footer p {
    color: #FFFFFF;
    font-size: 24px;
  }
  
  .sticky-footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  footer > .container-fluid {
      min-height: 40px;
      min-width: 100%;
  }