<header>
    <h1>Our science</h1>
    <p>The evolutionary tree of life underpins the biological sciences.

        It provides the fundamental roadmap for exploring and predicting patterns of diversity, understanding the drivers behind this diversity and predicting future trends.
        
        Building the tree of life for plants and fungi remains a long-term research priority for Kew.
        
        Our team leads Kew’s Tree of Life Initiative which aims to:
        
        Complete the tree of life for plants and fungi.
        Apply the tree of life to research on taxonomy, evolutionary biology, trait discovery and ecosystem stewardship. 
        Deliver a dynamic, open tree of life digital platform, providing the most up-to-date view of the tree of life for plants and fungi. </p>
  </header>
  
  <section id="gallery">
    <div class="photo">
        <img src="assets/tree_of_life.png" alt="Description of image 1">
        <p class="caption">Team lead: Professor William Baker</p>
    </div>
    <!-- Repeat for other images -->
  </section>