<div class="container text-padding-top">
    <h3><i class="fa fa-home"></i>WELCOME TO THE WORLD OF PLANTS</h3>
    <hr>
  </div>
  
  <div class="text-center">
    <img class="img-responsive" src="assets/home.png" />
    <p>Plants are the unsung heroes of our world, silently working behind the scenes to keep our planet thriving. From the air we breathe to the food we eat, their importance can hardly be overstated. Let's take a look at some of the wonders of the plant kingdom and why protecting plants, especially trees and woodland species, is crucial for our future.</p>
  </div>